.boxovertimeoff #overtime {
  display: none;
}

.boxovertimeoff #moment:before {
  content: "Period";
  margin-right: 0.2em;
  visibility: visible;
  color:var(--signalcolor);
}

.boxovertimeoff #moment {
  color:var(--signalcolor);
}

.containerhockey {
  background:url(https://img.freepik.com/premium-vector/abstract-background-made-curved-lines-dark-red-colors_444390-5772.jpg);
  background-color: rgba(128,0,0,0.5);
  background-blend-mode: multiply;
}

.containerhockey .boxhomepoints {
  background-color:maroon
}

.containerhockey .boxawaypoints {
  background-color:maroon
}

.containerhockey .boxtimer {
  background-color:maroon
}

.containerhockey .boxhometeam {
  background:url(https://rawcdn.githack.com/betaboy00/wildcats/7264ecd61896864676ff4ad41288052908a23684/img/wildcats_logo.png) no-repeat right; 
  background-size:10vw;
  padding-right: 50px
}

.containerhockey .boxawayteam {
  background:url(https://rawcdn.githack.com/betaboy00/wildcats/984d9f831493f169e03c3cd6e69dae18175f0d85/img/Whistler-transparent.png) no-repeat right; 
  background-size:8vw;
  padding-right: 50px
}
